/*
 * SPDX-FileCopyrightText: syuilo and misskey-project
 *
 * SPDX-License-Identifier: AGPL-3.0-only
 */

@import url("https://cdn.jsdelivr.net/npm/jetbrains-mono@1.0.6/css/jetbrains-mono.min.css");
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard-jp.min.css");
@font-face {
	font-family: 'ONEMobilePOP';
	src: url('https://misskey.njy17.kr/files/f34339cc-00e1-4789-b4c0-a741f471591f') format('woff');
	font-weight: normal;
	font-style: normal;
}

* {
	font-family: 'ONEMobilePOP', "JetBrains Mono", "Pretendard JP", Fira code, Fira Mono, Consolas, Menlo, Courier, monospace;
}

html {
	background: rgb(28, 28, 37);
}

header {
	color: #fff;
}

main {
	background: rgb(35, 35, 47);
	color: #fff;
}
main > .tabs {
	padding: 16px;
	border-bottom: solid 4px #fff;
}

#lsEditor > .adder {
	margin: 16px;
	padding: 16px;
	border: solid 2px #c3c3c3;
}
#lsEditor > .adder > textarea {
	display: block;
	width: 100%;
	min-height: 5em;
	box-sizing: border-box;
}
#lsEditor > .record {
	padding: 16px;
	border-bottom: solid 1px #c3c3c3;
}
#lsEditor > .record > header {
	font-weight: bold;
}
#lsEditor > .record > textarea {
	display: block;
	width: 100%;
	min-height: 5em;
	box-sizing: border-box;
}
